{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.
{lfe_first_files, []}.

{deps, [
  lfe,
  {erstar, {git, "git@github.com:keynslug/erstar.git", {branch, "master"}}},
  {lumber, {git, "git@github.com:arpunk/lumber.git", {branch, "master"}}},
  {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, "2.0.0-pre.7"}}}
]}.

{plugins, [
  {'lfe-compile', "0.8.0-rc3", {pkg, rebar3_lfe_compile}},
  rebar3_gpb_plugin
]}.

{provider_hooks, [
  {pre, [{compile, {protobuf, compile}},
         {compile, {lfe, compile}}]}
]}.

{gpb_opts, [
  {i, "proto"},
  {module_name_suffix, "-pb"},
  {module_name_prefix, "lighthouse-"},
  {o_erl, "src"},
  {o_hrl, "include"},
  {strings_as_binaries, true},
  type_specs
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {ct_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [ltest]}]},

  {doc, [
    {plugins, [
      {lodox, {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.16.2"}}}
      ]}
    ]}
  ]}.
